doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://unpkg.com/bulma@0.9.1/css/bulma.min.css')
    title Página Personal
    link(rel='stylesheet' href='/stylesheets/about.css')

  body
    //Barra de navegacion
    nav.navbar(role='navigation' aria-label='main navigation')
      .navbar-brand
        b.navbar-item
          a.navbar-item(href='#' style = 'font-size:20px') #{usuario.nombreCompleto}
          //img(src='https://logodownload.org/wp-content/uploads/2021/07/dominos-pizza-logo-0.png' width='112' height='28')
        //a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navbarBasicExample.navbar-menu
        .navbar-start
          a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/main/'+usuario.IdUsuario)
            | Inicio
          form(action="", method="post") 
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link         
              | Reportes 
            .navbar-dropdown     
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/reporte-completo-MySQL/'+usuario.IdUsuario)
                | Reporte con lecturas completas                        
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/reporte-completo/'+usuario.IdUsuario)
                | Reporte con leturas completas   
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/reporte-programado/'+usuario.IdUsuario)
                | Reporte con lecturas programadas                   
              hr.navbar-divider  
                               
          a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/como-usarlo/'+usuario.IdUsuario)             
            | Como usarlo
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              | Mas
            .navbar-dropdown
              
              a.navbar-item(href='https://detector-temperatura-humedad.herokuapp.com/about/'+usuario.IdUsuario)
                | Acerca de
              a.navbar-item(href='http://rhchiapas.herokuapp.com/' target="_blank")
                | Catalogo Centros de Costo
              //a.navbar-item
                | Contact
              hr.navbar-divider
              //a.navbar-item
                | Report an issue
        .navbar-end
          .navbar-item
            .buttons
              form(action="/login", method="GET") 
                button.button.is-primary
                  strong LogIn
              //a.button.is-light
                | LogIn


    section.box
      img.box-img(src='images/me.png' width='180' alt='')
      h1 Temperatura y Humedad en Timepo Real del Centro de Datos de GPM
      h2 Pagina web desarrollada por el area de software de GPM
      p
        | Desarrollado por el Ingeniero en Sistemas Computacionales Luis Antonio Martinez Rodriguez, lider de area y por los pasantes
        | en Ingenieria de Desarrollo de Software Getzamany Magdaleno Serrano y Luis Donato Martinez Simuta
      br
      p
        | Pagina en su version 1.0.0