doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login - Detector de Temperatura y Humedad
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')        
    link(rel='stylesheet' href='/stylesheets/index.css')

  body
    main
      .col-12.col-lg-3.offset-lg-9.panel.h-100.py-5
        .card
          h1.card-title.text-center.mb-4 Inicia sesión
          if acceso == false
            h3(class="accesoDenegado").card-title.text-center.mb-4 Acceso denegado
          
          form.card-body(action='main' method='POST')
            .form-group
              input#email.form-control(type='username' name='username' placeholder='Nombre usuario' required='')
            .form-group
              input#password.form-control(type='password' name='password' placeholder='Contraseña' required='')
            .form-group.text-center.pt-4
              input.btn.btn-primary.w-100(type='submit' value='Iniciar sesión')
              input.btn.btn-primary.w-100(type='hidden' name="tokenSeguridad" value='#_.----._#')
          .card-body
            h5.text-center
              | Temperatura y Humedad en Tiempo Real del Centro de Datos
            br
            h6.text-center
              | Diciembre 2021
            br
            h7.text-center 
              | Desarrollado por: Grupo Penagos
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
